.terminal {
    position: relative;
    background-color: #232323;
    color: #33ff33;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    white-space: pre-wrap;
    border-style: solid;
    border-color: #000000;
    /* Enables wrapping of text */
    text-align: left;
}

.terminal-line {
    margin-bottom: 2px;
}

.terminal-close-btn {
    /* position: absolute; */
    top: 0;
    right: 0;
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    /* Adjust the color to fit your terminal theme */
    font-weight: bold;
    z-index: 1000;
}